$green : rgb(88, 114, 32);
$orange : rgb(212, 122, 12);
$icon: rgb(238, 142, 25);
$white: #fff;

body {
    background-color: $white;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size: 16px;
    scroll-behavior: smooth;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.8);
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.modal {
    top: 20%;
    left: 50%;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.modal-header {
    background-color: $green;
}

.modal-title {
    color: $white;
}

form {
    padding: 15px 0;
}

.form-label {
    font-size: 1.2rem;
}

.close {
    color: $white;
    align-self: center;
    font-size: 2.5rem;
}

/* Navbar */
.navbar {
    background-color: $green;
}

.nav-items {
    padding-right: 15px;
}

/* Buttons */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
button[type=button],
button[type=submit],
button[type=reset] {
    background-color: $green;
    border: 1px solid $green;
    color: $white;
}

.btn-ghost:link,
.btn-ghost:visited,
button[type=button] {
    border: 1px solid $white;
}

.btn:hover,
.btn:active,
button[type=submit]:hover,
button[type=submit]:active {
    background-color: $orange;
    color: $white;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid $orange;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid $orange;
}

button.close {
    border: 0px;
}

/* Greetings */
.greetings {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/Banner.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/Banner.jpg);
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.text-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* How It Works */
.infoIcon {
    color: $icon;
    font-size: 5em;
}

/* On The Menu */
.menu {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/menuSectionBg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/menuSectionBg.jpg);
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.menuInnerBox {
    background-color: $white;
}

/* What Others Are Saying */
.rating {
    color: $icon;
}

/* Contact */
.contact {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/Babnner.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/Banner.jpg);
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.contactInnerBox {
    background-color: $white;
    padding: 30px;
}

/* FAQs */
.FAQContainer {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/FormBackground.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/FormBackground.jpg);
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 50px;
    min-height: 100vh;
}

.faqQuestion {
    position: relative;
}

.faqExpand {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 1.6rem;
    cursor: pointer;
}

.faqExpand:hover {
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    transform: scale(1.2);
    color: $orange;
}

/* Footer */
.site-footer {
    border-top: 1px solid rgba(203, 252, 203, 0.619);
    padding: 40px;
    background-color: rgba(243, 254, 233, 0.904);
}

/* Extras */
.getStartedForm {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/FormBackground.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/FormBackground.jpg);
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.formcontainer {
    margin: 50px auto;
    padding: 16px;
    background-color: $white;
    max-width: 800px;
}